{{!< default}}

<div class="wrapper">
	<section class="main-container">
		<div class="content">
			<header>
				<h1>Gary Acers</h1>

				<h4>Front End Developer</h4>
			</header>

			{{>navigation}}
		</div>
	</section>
</div>