{{!< default}}

{{>navigation_wrapper}}

<a class="back" href="/web">Back</a>

<div class="wrapper">
	<section class="main-container">
		<div class="content">
			<article class="site-info">
				<header>
					<h1>Site Title</h1>
				</header>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<ul>
					<li>Node.js</li>
					<li>Express.js</li>
					<li>jQuery</li>
					<li>HTML5</li>
					<li>SASS</li>
				</ul>
			</article>

			<section>
				<figure class="large">
					<img alt="" src="/images/site-test.jpg" />
				</figure>

				<figure class="small left">
					<img alt="" src="/images/site-test.jpg" />
				</figure>

				<figure class="xsmall right">
					<img alt="" src="/images/site-test.jpg" />

					<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</figcaption>
				</figure>

				<figure class="medium right">
					<img alt="" src="/images/site-test.jpg" />

					<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</figcaption>
				</figure>

				<figure class="medium left">
					<img alt="" src="/images/site-test.jpg" />
				</figure>

				<figure class="large">
					<img alt="" src="/images/site-test.jpg" />

					<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</figcaption>
				</figure>
			</section>
		</div>
	</section>
</div>