{{!< default}}

{{>navigation_wrapper}}

<div class="wrapper">
	<section class="main-container">
		<div class="content">
			<header>
				<h1>Web</h1>
			</header>

			<div class="web-links">
				<article class="free-people-ebook">
					<div class="web-link-wrapper">
						<a href="/web/site">
							<img alt="" src="/images/web-test.jpg" />

							<h2>Free People eBook</h2>
						</a>
					</div>
				</article>

				<article class="free-people-ebook">
					<div class="web-link-wrapper">
						<a href="/web/site">
							<img alt="" src="/images/web-test.jpg" />

							<h2>Free People eBook</h2>
						</a>
					</div>
				</article>

				<article class="free-people-ebook">
					<div class="web-link-wrapper">
						<a href="/web/site">
							<img alt="" src="/images/web-test.jpg" />

							<h2>Free People eBook</h2>
						</a>
					</div>
				</article>

				<article class="free-people-ebook">
					<div class="web-link-wrapper">
						<a href="/web/site">
							<img alt="" src="/images/web-test.jpg" />

							<h2>Free People eBook</h2>
						</a>
					</div>
				</article>

				<article class="free-people-ebook">
					<div class="web-link-wrapper">
						<a href="/web/site">
							<img alt="" src="/images/web-test.jpg" />

							<h2>Free People eBook</h2>
						</a>
					</div>
				</article>

				<article class="free-people-ebook">
					<div class="web-link-wrapper">
						<a href="/web/site">
							<img alt="" src="/images/web-test.jpg" />

							<h2>Free People eBook</h2>
						</a>
					</div>
				</article>

				<article class="free-people-ebook">
					<div class="web-link-wrapper">
						<a href="/web/site">
							<img alt="" src="/images/web-test.jpg" />

							<h2>Free People eBook</h2>
						</a>
					</div>
				</article>
			</div>
		</div>

	</section>
</div>