<section class="navigation">
	<button class="close-nav">Close Navigation</button>

	<nav>
		<ul class="main-nav">
			<li><a href="/web">Web</a></li>
			<li><a href="/interactive">Interactive</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>

		<ul class="social-nav">
			<li class="facebook"><a href="#">Facebook</a></li>
			<li class="twitter"><a href="#">Twitter</a></li>
			<li class="linkedin"><a href="#">Linkedin</a></li>
			<li class="google"><a href="#">Google+</a></li>
			<li class="youtube"><a href="#">YouTube</a></li>
			<li class="github"><a href="#">Github</a></li>
		</ul>
	</nav>
</section>