.site {
	#body {
		background: url(/images/test.jpg) fixed;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.back {
		@include color-change(#fff);
		@include image-replacement();
		left: $grid-gutter-width;
		position: absolute;
		z-index: 100;
	}

	.content {
		@include make-lg-column-offset(2);
		@include make-lg-column(10, $grid-gutter-width);
	}

		header {
			padding-bottom: 10px;
		}

			h1 {
				color: #444;
				font-family: $roboto-light;
				font-size: 36px;
			}

		ul {
			list-style-type: none;
			padding-left: 0;
			padding-right: 0;
		}

		section {
			width: 100%;
		}

			img {
				border-color: #fff;;
				border-style: solid;
				width: 100%;
			}

			figcaption {
				padding: 5px 3px 0;
			}

	@include breakpoint(xsmall) {
		.back {
			@include icons(back, $dark-grey, 36);
			height: 36px;
			top: 22px;
			width: 36px;
		}

		.content {
			padding-bottom: 40px;
			padding-top: 70px;
		}

			ul {
				padding-top: 5px;
			}

				li {
					padding: 3px 0;
				}

			figure {
				padding-top: 15px;
			}

				img {
					border-width: 5px;
				}
	}

	@include breakpoint(small) {
		.content {
			padding-bottom: 40px;
			padding-left: $grid-gutter-width + 10px;
			padding-right: $grid-gutter-width + 10px;
		}

			figure {
				padding-top: $grid-gutter-width;
			}
	}

	@include breakpoint(smallup) {
		.back {
			@include icons(back, $dark-grey, 44);
			height: 44px;
			top: 11px;
			width: 44px;
		}

		.content {
			ul {
				@include clearfix();
				padding-top: 14px;
			}

				li {
					float: left;
					font-size: 16px;
					margin-left: 5px;

					&:before {
						content: "\2022";
						margin-right: 5px;
					}

					&:first-child {
						margin: 0;

						&:before {
							display: none;
						}
					}
				}
		}

		figure {
			padding-top: $grid-gutter-width + 10px;

			&:first-child {
				padding-top: $grid-gutter-width;
			}
		}

			img {
				border-width: 10px;
				// cursor: pointer;

				// ._no-touch & {
				// 	@include opacity(1);
				// 	transition: (0.5s all linear);

				// 	&:hover {
				// 		@include opacity(0.6);
				// 	}
				// }
			}
	}

	@include breakpoint(mediumup) {
		.content {
			padding-bottom: 80px;
		}

			section {
				@include clearfix();
			}

				figure {
					&.large {
						float: left;
						width: 100%;
					}

					&.medium {
						@include make-md-column(12, $grid-gutter-width);
						padding-left: 0;
						padding-right: 0;

						&.left {
							float: left;
						}

						&.right {
							float: right;
						}
					}

					&.small {
						@include make-md-column(8, $grid-gutter-width);

						&.left {
							float: left;
							padding-left: 0;
						}

						&.right {
							float: right;
							padding-right: 0;
						}
					}

					&.xsmall {
						@include make-md-column(6, $grid-gutter-width);

						&.left {
							float: left;
							padding-left: 0;
						}

						&.right {
							float: right;
							padding-right: 0;
						}
					}
				}
	}

	@include breakpoint(medium) {
		.content {
			padding-left: $grid-gutter-width + 10px;
			padding-right: $grid-gutter-width + 10px;
			padding-top: 30px;
		}
	}
}